In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('company_fin_okved.csv')
filtered  = df.loc[df['Assets'] < df['Material Assets']]
filtered[['inn', 'full_name', 'Assets', 'Material Assets']]

,inn,full_name,Assets,Material Assets
53,3445091590,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ &quot...,3.823130e+09,3.823356e+09
275,6144009943,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ &quot...,9.914500e+07,1.031340e+08
636,7716533436,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ &quot...,4.380604e+09,4.380669e+09
1801,2315147709,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ &quot...,2.357710e+08,2.358140e+08
3027,2801094519,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ &quot...,4.733040e+08,4.733200e+08
4086,6905057477,ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ &quot...,4.900800e+08,4.900920e+08